
doctype html
html
  head
    title Colors and Types
    link(rel="stylesheet" href='main.scss')

  body
    div.header
      div.logo
        include logo.svg
  
  
    

    div.content
      
      
      mixin color-one(name, hexcode, myclass)
        div.color
          p Color
          div.__view(class=myclass)
          div.__discription
            div.__name= name
            div.__hexcode= hexcode
            
      div.palette
        p Palette      
        +color-one('Dark Shade 100%', '#1F2041', 'dsh100')
        +color-one('Dark Shade 75%', '#1F2041', 'dsh75')
      

      
      
      div.tag-dictionary
        p Это описание тегов
    
    
  
  
