@font-face {
  font-family: "Quicksand";
  src: url("Quicksand-Bold.woff2") format('woff2'),
      url("Quicksand-Bold.woff") format('woff'),
      url("Quicksand-Bold.ttf") format('ttf');
      font-style: normal;
      font-weight: bold;
}

@font-face {
  font-family: "Quicksand";
  src: url("Quicksand-Regular.woff2") format('woff2'),
      url("Quicksand-Regular.woff") format('woff');
      font-style: normal;
      font-weight: normal;
}


@font-face {
  font-family: "Montserrat";
  src: url('Montserrat-Regular.woff2') format('woff2'),
      url('Montserrat-Regular.woff') format('woff'),
      url('Montserrat-Regular.ttf') format('ttf');
      font-style: normal;
      font-weight: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url('Montserrat-Bold.woff2') format('woff2'),
      url('Montserrat-Bold.woff') format('woff'),
      url('Montserrat-Bold.ttf') format('ttf');
      font-style: normal;
      font-weight: bold;
}


.content {
  display: flex;
  justify-content: space-around;
}



.tag {
  width: 400px;
  margin-bottom: 50px;
  display: flex;
  //border: 1px solid;

    .__name {
      margin-right: 30px;
      color: rgba(31, 32, 65, 0.25);
      //border: 1px solid;
      min-width: 40px;
      text-align: right;
    }

    .__discription {
      color: #1F2041;
    }
}


.h-one {
  .__name {
    font-size: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    line-height: 29px;
  }

  .__discription {
    font-family: 'Quicksand';
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
  }
}


.h-two  {
  .__name {
    font-size: 19px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    line-height: 23px;
  }

  .__discription {
    font-family: 'Quicksand';
    font-size: 19px;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
  }
}



.h-three {
  .__name {
    font-size: 12px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    line-height: 15px;
  }

  .__discription {
    font-family: 'Montserrat';
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    line-height: 15px;
    text-transform: uppercase;
  }
}


.body-text {
  .__name {
    font-size: 14px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
  }

  .__discription {
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
  }
}


.color {
  width: 300px;
  min-height: 100px;
  display: flex;
  // border: 1px solid;


  .__view {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 6px;
    }


  .__discription {
    font-family: 'Quicksand';
    font-size: 19px;
    line-height: 29px;
    margin-left: 20px;
    vertical-align: center;
    //border: 1px solid;

      .__name {
        font-weight: bold;
      }
  }
}




@mixin bkg($hexcode, $opacity) {
  background-color: $hexcode;
  opacity: $opacity;
}

.dsh100 {
  @include bkg(#1F2041, 100%);
}

.dsh75 {
  @include bkg(#1F2041, 75%);
}

.dsh50 {
  @include bkg(#1F2041, 50%);
}

.dsh25 {
  @include bkg(#1F2041, 25%);
}

.dsh05 {
  @include bkg(#1F2041, 5%);
}

.pur {
  @include bkg(#BC9CFF, 100%);
}

.grn {
  @include bkg(#6FCF97, 100%);
}
