@font-face {
  font-family: "Quicksand";
  src: url("Quicksand-Bold.woff2") format('woff2'),
      url("Quicksand-Bold.woff") format('woff'),
      url("Quicksand-Bold.ttf") format('ttf');
      font-style: normal;
      font-weight: bold;
}

@font-face {
  font-family: "Quicksand";
  src: url("Quicksand-Regular.woff2") format('woff2'),
      url("Quicksand-Regular.woff") format('woff');
      font-style: normal;
      font-weight: normal;
}

.content {
  display: flex;
  justify-content: space-around;
}




.color {
  width: 300px;
  min-height: 100px;
  display: flex;
  border: 1px solid;


  .__view {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 6px;
    }


  .__discription {
    font-family: 'Quicksand';
    font-size: 19px;
    line-height: 29px;
    margin-left: 20px;
    vertical-align: center;
    border: 1px solid;

      .__name {
        font-weight: bold;
      }
  }
}




@mixin bkg($hexcode, $opacity) {
  background-color: $hexcode;
  opacity: $opacity;
}

.dsh100 {
  @include bkg(#1F2041, 100%);
}

.dsh75 {
  @include bkg(#1F2041, 75%);
}

.dsh50 {
  @include bkg(#1F2041, 50%);
}

.dsh25 {
  @include bkg(#1F2041, 25%);
}

.dsh05 {
  @include bkg(#1F2041, 5%);
}

.pur {
  @include bkg(#BC9CFF, 100%);
}

.grn {
  @include bkg(#6FCF97, 100%);
}
